{% extends "layout.html"  %}
{% block body %}


<div class="container">
    {% if warning %}
        <div class="alert alert-success">
            {{ warning }}</div>
    {% endif %}
    {% for i in text|batch(2) %}
  <div class="row" style="margin-top:1%">
  {% for c in i %}
    <div class="col-md-6">
      <div class="card" id="{{ c.id }}">
          <div class="card-body">
            <p class="card-text">{{ c.text }}</p>
            <a href="bullying/{{ c.id }}" class="btn btn-warning">ZORBALIK</a>
            <a href="not_bulling/{{ c.id }}" class="btn btn-outline-warning">DEĞİL</a>
            <a href="delete/{{ c.id }}" class="btn btn-danger float-end">SİL</a>
          </div>
        </div>
    </div>
      {% endfor %}
  </div>
    {% endfor %}
</div>


{% endblock %}

