{% extends "layout.html"  %}
{% block body %}


<div class="container" style="margin-top:2%">
    {% if warning %}
        <div class="alert alert-success">
            {{ warning }}</div>
    {% endif %}

    {% for i in text %}
  <div class="row">
    <div class="col-md-6">
      <div class="card">
          <div class="card-body">
            <p class="card-text">{i}</p>
            <a href="#" class="btn btn-outline-warning">DEĞİL</a>
            <a href="#" class="btn btn-warning">ZORBALIK</a>
          </div>
        </div>
    </div>
  </div>
    {% endfor %}
</div>


{% endblock %}

